.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

#about-container{
	width: 1920px;
	height: 1187px;
}


.about-section{
	color: black
}

.about-title{
	margin-top: -12px;
	color: red;
}

.about-body{
	width: 614px;
	height: 476px;
	overflow: scroll;
}

.about-data-container{
	margin-left: 276px;
	margin-top: 27px;
	margin-right: 247px;
	border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D1D3D4;
    padding-top: 47px;
    font-size: 16px;
}

.about-body{
	margin-top: 16px;
}

.rules{
	background-image: url('/images/icon.png');
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 40px;
	margin-bottom: 40px;

}


#achievements-container{
	border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D1D3D4;
    padding-top: 47px;
    font-size: 16px;
}

#about-div,#team-div
{
	border-right-style: solid;
    border-right-width: thin;
    border-right-color: #D1D3D4;
}

#rules-div,#clubs-div{
	margin-left: 66px;
}


#rules-list{
	padding-left: 0px;
	margin-top: 10px;
}

#first-p, #achievements-p, #clubs-p{
	font-size: 16px;
	font-family: 'Open Sans', serif;
}

#first-p, #rules-list{
	padding-right: 20px;
}

