#calendar-container{
	width: 1920px;
	height: 775px;
	padding-right: 247px;
	padding-left:247px;
}

.calendar-title
{
    margin-top: 47px;
    font-size: 24px;
}

.black{
	color: black
}

.grey{
	background-color:#F1F2F2;
}


.calendar-date{
	width: 685;
}

.c-row{
	height: 96px;
	padding-top: 40px;
	font-size: 24px;
}


#calendar{
	margin-top: -50px;
}
