#contacts-container{
	width: 1920px;
	height: 650px;
	background-color: #414042;
	padding-top: 70px;
	padding-left:247px;
	padding-right: 247px;

}


.calendar-title{
	margin-top: 47px;
	margin-left: 0px;
}

#contacts-data-row{
	margin-top: 39px;
	font-size: 16px;
}

.contacts-width{
	width: 550px;
}

#p2{
	margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -10px;
}


#mail-form-container{
	width: 592px;
	font-size: 12px;
	color: black;
}

#name-txt{
	background-color: #F1F2F2;
	width: 100%;
	height: 59px;
	border-style: none;
}

#email-txt{
	width: 100%;
	height: 59px;
	border-style: none;
}

#message-txt{
	background-color: #F1F2F2;
	height: 109px;
	height: 109px;
    width: 100%;
    border-style: none;
}


#submit-row{
	margin-top: 25px;
	cursor: pointer;
}


.grey2{
	color: #D1D3D4
}


#footer{
	padding-left:247px;
	color: white;
	height: 44px;
	background-color: black;
	padding-top: 10px;
}


.form-padding{
	padding-left: 20px;
}