#directors-container{
	width: 1920px;
	height: 644px;
	background-image: url('/images/directors-bg.jpg');
	background-repeat: no-repeat;
	margin-right: 247px;


}

.top-bar{
	margin-left: 276px;
	margin-top: 47px;
	font-size: 24px;
}


#directors-title1{
	color: white;
}

#directors-title2{
	margin-top: -15px;
	color: red;
}

.data-inner{
 	margin-right: 247px;

}

.control-left{
	margin-right: 20px;
	cursor: pointer;
}


.control-right{
	cursor: pointer;
}

.images{
	margin-left: 276px;
	margin-right:247px;
}

.user-data{
	margin-top: 16px;
}

.user-name{
	color: white;
	font-size: 24px;
}

.user-title{
	color: red;
	font-size: 16px;
	margin-top: -17px;
}