#divisions-container{
	width: 1920px;
	height: 1215px;
	background-image: url('/images/divisions-bg.jpg');
	background-repeat: no-repeat;
	margin-right: 247px;
}

#divisions-data{
	margin-top: 335px;
	width: 1365px;
	margin-left: 247px;
}

.divisions-top-bar{
	font-size: 24px;
}

#divisions-title1{
	color: white;
}

#divisions-title2{
	margin-top: -15px;
	color: red;
}

#data-table{
	width: 1365px;
	height: 200px;
	margin-left: 247px;
	margin-top: 75px;
}


.data-tabs{
	margin-left: -40px;
}

#tab-0{
	background-image: url('/images/first-tab.png');
	background-repeat: no-repeat;
	width: 225px;
	height: 87px;
	margin-left: 0px;
	cursor: pointer;
	color:white;
}

.tabs{
	background-image: url('/images/tab-img.png');
	background-repeat: no-repeat;
	width: 225px;
	height: 87px;
	cursor: pointer;
}


.tab-title-selected{
	color: white;
}


.white{
	color: white;
}

.first{
	background-color: white;
	height: 95px;
}

.second{
	background-color: #F1F2F2;
	height: 95px;
}


#img-bar{
	margin-top: -10px;
}



.table-content{
	border-color: white;
    border-style: solid;	
}

.table-data-number{
	color: red;
}


.table-data-content{
	font-size: 24px;
	margin-top: 25px;
	font-weight: bold;

}


#links-container{
	margin-top: 58px;
    margin-left: 177px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#clubs{
	margin-top: 46px
}

.red{
	color:red;
}


.tab-data-container{
	height: 503px;
	overflow: scroll;
}

.f_tab{
	background-image: url('/images/first-tab-un.png')!important;
	color: black !important;
}


.tab_selected{
	background-image: url('/images/tab-selected.png');
	color: white;
}

.table-row{
	width: 3000px;
}

.table-d{
	width: 500px;
}
