@font-face {
  font-family: "regular";
  src: url()
}


a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

#home-container{
	width: 1920px;
	height: 1187px;
	background-image: url('/images/home-bg.jpg');
	background-repeat: no-repeat;
}

#menu{
	width: 1368px;
	height: 82px;
	margin-top: 297px;
	margin-left: 276px;
	background-color: red;
	opacity: 0.5;
	font-size: 10px;
	color: white;
	padding-top: 10px
}

#menu-container{
	margin-left: 275px;
    margin-top: -72px;
    margin-right: 200px;
}

.apple-item{
	width: 5px!important;
}

.menu-item-container{
	margin-left: 0px;
	margin-right: 22px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	cursor: pointer;
	width: 149px;
}


@media screen and (max-width: 800px) {
    #menu {
    	display: none;
    }
}


#general{
	position: relative;
	top: 60px;
	height: 60px;
}


#president-message{
	margin-left: 276px;
	margin-top: 64px;
	color: white;
}

#news-container{
	margin-top: 64px;
    margin-left: -68px;
}

#president-text{
	height: 351px;
    width: 512px;
    overflow: scroll;
    margin-top: -347px;
    margin-left: 16px;
}

#first-home{
	background-color: green;
    height: 82px;
    margin-top: -10px;
    width: 159px;
    padding-top: 30px;
}

#apple-logo{
	margin-top: -5px;
}


#president-txt{
	margin-left: 30px;
	font-size: 16px;
	font-family: 'Open Sans',serif;
}


#news-data-container{
	height: 523px;
    overflow: scroll;
	margin-top: -536px;
    margin-left: 49px;
    margin-right: 55px;
    font-family: "Open Sans", serif;
    padding-right: 20px;
}

}




.news-body{
	margin-top: 30px;
	color: #9B9DA0;
	font-family: "Open Sans", serif;
	text-align: justify;

}



#news-box{
	overflow: scroll;
    height: 485px;
}










