#mission-container{
	width: 1920px;
	height: 887px;
	margin-right: 247px;
	background-color: #F1F2F2;
}

#mission-title1{
	color: black;
}

#mission-title2{
	margin-top: -15px;
	color: red;
}

.user-name-c{
	color: black;
}

.top-bar-p{
	margin-top: 85px;
}

.images-p{
	margin-top: 85px;
}

.p-title-m{
	color: black;
	font-size: 24px;
}

.p-body-m{
	font-size: 12px;
	color: black;
	margin-top: 30px;
}