#purpose-container{
	width: 1920px;
	height: 887px;
	margin-right: 247px;
	background-color: #EF3E42;
}

#purpose-title1{
	color: black;
}

#purpose-title2{
	margin-top: -15px;
	color: white;
}

.user-name-c{
	color: black;
}

.top-bar-p{
	margin-top: 85px;
}

.images-p{
	margin-top: 85px;
}

.p-title{
	color: white;
	font-size: 24px;
}

.p-body{
	font-size: 12px;
	color: white;
	margin-top: 30px;
}