#home-container{
	width: 100%;
    height: 2121px;
    background-image: url('/images/mobile/mobile-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
	
}

#navigation-container{
	margin-top: 200px
}

#menu-container{
	background-color:red;
	width: 100%;
	height: 200px;
}

#president-msg-container{

	margin-top: 200px;

	width: 100%;
	height: 1000px;
	background-image: url('/images/president.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
