

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

#about-container{
	width: 1920px;
	height: 1187px;
}


.about-section{
	color: black;
	float:right;
	margin-right: 39px;
}

.about-title{
	margin-top: 32px;
    color: red;
    float: right;
    margin-right: -28px;
}

.about-body{
	direction: ltr;
	text-align: right;
	width: 614px;
	height: 476px;
	overflow: scroll;
}

.about-data-container{
	margin-left: 276px;
	margin-top: 27px;
	margin-right: 247px;
	border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D1D3D4;
    padding-top: 47px;
    font-size: 16px;
}

.about-body{
	margin-top: 16px;
}

.rules{
	background-image: url('/images/icon.png');
	background-repeat: no-repeat;
	list-style: none;
	margin-bottom: 40px;
	background-position: right;
    padding-right: 40px;
}


#achievements-container{
	border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D1D3D4;
    padding-top: 47px;
    font-size: 16px;
}

#about-div,#team-div
{
	border-right-style: solid;
    border-right-width: thin;
    border-right-color: #D1D3D4;
}

#rules-div,#clubs-div{
	margin-left: 66px;
}


#rules-list{
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 10px;
}

#first-p, #achievements-p, #clubs-p{
	font-size: 16px;
	font-family: 'Open Sans', serif;
}


#first-p{
	padding-right: 20px;
}

#achievements-p{
	padding-right: 20px;
}


.team-ach{
	margin-right: -51px;
}

.about-title1{
	margin-right: -51px;
}

.about-section2{
	margin-right: -13px;
}

#clubs-p{
	padding-right: 20px;
}

