#committees-container{
	width: 1920px;
	height: 644px;
	margin-right: 247px;
	background-color: #F1F2F2;
}

#committees-title1{
	color: black;
}

#committees-title2{
	margin-top: -15px;
	color: red;
}

.user-name-c{
	color: black;
}

.user-image{
	width: 318px;
	height: 318px;
}