#contacts-container{
	width: 1920px;
	height: 650px;
	background-color: #414042;
	padding-top: 70px;
	padding-left:247px;

}

.contacts-title{
	margin-right: 114px;
}


#contacts-data-row{
	margin-top: 150px;
	font-size: 16px;
}

.contacts-width{
	width: 550px;
	margin-right: 240px;
}

#p2{
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    width: 441px;
}


#mail-form-container{
	width: 592px;
	font-size: 12px;
	color: black;
}

#name-txt{
	background-color: #F1F2F2;
	width: 100%;
	height: 59px;
	border-style: none;
	text-align: right;
    padding-right: 20px;
}

#email-txt{
	width: 100%;
	height: 59px;
	border-style: none;
	text-align: right;
    padding-right: 20px;
}

#message-txt{
	background-color: #F1F2F2;
	height: 109px;
	height: 109px;
    width: 100%;
    border-style: none;
    text-align: right;
    padding-right: 20px;
}


#submit-row{
	margin-top: 25px;
	cursor: pointer;
}


.grey2{
	color: #D1D3D4
}


#footer{
	padding-left:247px;
	color: white;
	height: 44px;
	background-color: black;
	padding-top: 10px;
}


.form-padding{
	padding-left: 20px;
}

.directors-title2-contacts{
	margin-top: -6px;
    color: red;
    margin-left: 23px;
}