@font-face {
  font-family: "regular";
  src: url()
}


a {
    color: white;
    text-decoration: none;
}

.text-justify, .text-center{
	direction: rtl;
}

a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

#home-container{
	width: 1920px;
	height: 1187px;
	background-image: url('/ar/images/bg-ar.jpg');
	background-repeat: no-repeat;
}

.apple-icon{
	width: 5px!important;
}

#menu{
	width: 1368px;
	height: 82px;
	margin-top: 297px;
	margin-left: 276px;
	font-size: 10px;
	color: white;
	padding-top: 10px
}


#menu-items{
	margin-left: 23px;
}

#menu-container{
	margin-left: 275px;
    margin-top: -72px;
    margin-right: 200px;
}

.menu-item-container{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	cursor: pointer;
	width: 149px;
}


#home-messages{
}


@media screen and (max-width: 800px) {
    #menu {
    	display: none;
    }
}


#general{
	position: relative;
	top: 60px;
	height: 60px;
}


#president-message{
	margin-right: 225px;
	margin-top: 64px;
	color: white;
}

#news-container{
	margin-top: 64px;
	margin-right: -44px;


}

#president-text{
	height: 351px;
    width: 512px;
    overflow: scroll;
    margin-top: -320px;
    margin-left: 16px;
    text-align: right;
}

#first-home{
	background-color: green;
    height: 82px;
    margin-top: -10px;
    width: 159px;
    padding-top: 30px;
}

#apple-logo{
	margin-top: -5px;
}


#president-txt{
	margin-left: 30px;
	font-size: 16px;
	font-family: 'Open Sans',serif;
	text-align: 
}


#news-data-container{
	margin-top: -536px;
    margin-left: 49px;
    margin-right: 55px;
    font-family: "Open Sans", serif;
    height: 500px;
    overflow: scroll;
}






.news-body{
	margin-top: 30px;
	color: #9B9DA0;
	font-family: "Open Sans", serif;
	text-align: justify;

}


#home-ar{
	width: 183px!important;
    float: right;
    margin-right: 35px!important;
}


#first-m{
	margin-right: 60px!important;
}

#second-m{
	margin-right: 60px!important;
}


#fourth-m{
	margin-right: 38px!important;
}

#sixth-m{
	margin-right: 21px!important;
}










