#media-container{
	width: 1920px;
	height: 1762px;
	background-color: #F1F2F2;
	padding-left: 247px;
	padding-top: 125px;
	padding-right: 306px;
}

.img-thumbnail{
	width: 200px;
	height: 200px;
	cursor: pointer;
}




.img-1{
	width: 683px;
	height: 340px;
	cursor: pointer;
}

.img-2{
	width: 341px;
	height:341px;
	cursor: pointer;
}


.img-3{
	width: 341px;
	height: 341px;
	cursor: pointer;
}


.img-4{
	width: 683px;
	height: 683px;
	cursor: pointer;
}

.img-5{
	width: 341px;
	height: 341px;
	cursor: pointer;
}

.img-6{
	width: 683px;
	height: 340px;
	cursor: pointer;
}


.img-7{
	width: 683px;
	height: 340px;
	cursor: pointer;
}

.img-8{
	width: 341px;
	height: 341px;
	cursor: pointer;
}


.img-9{
	width: 443px ;
	height: 683px;
	cursor: pointer;
}


.large-modal{
	width: 1000px!important;
	margin-left: -140px!important;
}