#teams-container{
	width: 1920px;
	height: 1200px;
	background-image: url('/images/teams-bg.jpg');
	background-repeat: no-repeat;
}

.collection{
	margin-left: 247px;
}

#teams-wrapper
{
	margin-top: 447px;
}

#teams-tab{
	background-image: url('/ar/images/teams-tab-ar.png');
	background-repeat: no-repeat;
	height: 92px;
	margin-right: 306px;
	padding-top: 11px;
}

.teams-row{
	padding: 0px;
}

#teams-links{
	color: wite;
	font-weight: bold;
	margin-top: 51px;
    color: white;
    margin-top: 45px;
    margin-right: 11px;
}

#coach-data-container{
	background-color: #F1F2F2;
	height: 347px;

}

#team-coach-row{
	margin-right: 308px;
}

#coach-data{
	margin-top: 60px;
	margin-left: 60px;
}

#coach-title{
	font-size: 24px;
	font-weight: bold;
	margin-right: 20px;

}

#coach-subtitle{
	font-size: 14px;
	color: #BCBEC0;
	margin-right: 20px;
}

#coach-body{
	margin-top: 0px;
	margin-right: 0px;
	margin-top: 70px;
	margin-right: 20px;
	font-size: 16px;
}

.name-container{
	margin-top: 10px;
	font-size: 24pt;
	font-weight: bold;
	line-height: 35px;

}

.player-number{
	color: red;
}


.player-position{
	color: #BCBEC0;
	font-size: 17px;
	margin-top: 10px;
	font-weight: bold;

}

.team-players-row{
	margin-right: 307px;
}

.second-row{
	margin-top: 30px;
}

.team-controls{
	margin-top: 80px;
}

#data-table-teams{
	width: 1365px;
	height: 200px;
	margin-top: 75px;
}

#links-container-t{
	margin-top: 58px;
    margin-left: 177px;
    text-decoration: none;
    cursor: pointer;
}

#teams-title-data{
	margin-top: 289px;
}

#teams-title{
	width: 200px;
	margin-right: 200px;
}
